<!DOCTYPE html>
<html lang="en">
<head>
    <title>Privacy/Disclaimer Statement - FriendShop</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/A1_Q8_stylesheet.css">
    <script src="/A2_Q8.js" defer></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <a href="/home_page.html">
                    <h1>FriendShop <img src="/Images/logo.png" alt="Logo" style="width:35px;"></h1>
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="/home_page.html">Home</a></li>
                    <li><a href="/find_pets.html">Find a Dog/Cat</a></li>
                    <li><a href="/dog_care.html">Dog Care</a></li>
                    <li><a href="/cat_care.html">Cat Care</a></li>
                    <li><a href="/give_away.html">Have a Pet to Give Away</a></li>
                    <li><a href="/contact_us.html">Contact Us</a></li>
                    <li><a href="/login.html">Login</a></li>
                    <li><a href="/create_account.html">Sign up</a></li>
                    <li><a href="/logout.html" id="logout-button">Logout</a></li>
                </ul>
            </nav>
            <div id="date-time"></div>
        </header>
        <aside class="side-menu">
            <ul>
                <li><a href="/home_page.html">Home</a></li>
                    <li><a href="/find_pets.html">Find a Dog/Cat</a></li>
                    <li><a href="/dog_care.html">Dog Care</a></li>
                    <li><a href="/cat_care.html">Cat Care</a></li>
                    <li><a href="/give_away.html">Have a Pet to Give Away</a></li>
                    <li><a href="/contact_us.html">Contact Us</a></li>
                    <li><a href="/login.html">Login</a></li>
                    <li><a href="/create_account.html">Sign up</a></li>
                    <li><a href="/logout.html" id="logout-button">Logout</a></li>
            </ul>
        </aside>
        <main class="content">
            <h2>Privacy/Disclaimer Statement</h2>
            <p>At FriendShop, we take your privacy seriously. This Privacy/Disclaimer statement outlines the types of personal information that is received and collected by FriendShop and how it is used.</p>
            <h3>Information Collection and Use</h3>
            <p>We collect personal information such as names, email addresses, and other details when voluntarily submitted by our visitors. The information you provide is used to fulfill your specific request and to help us provide you with better services.</p>
        </main>
    </div>
</body>
</html>
